.page.theme_light {
  --accent-color: #ff8dcb;
  --title-decor-background: #ff8dcb;
  --title-decor-color: #353430;
  --decorated-zone-color: #353430;
  --decorated-record-color: transparent;
  --decorated-record-bg: transparent;
  --decorated-record-shadow: transparent;
  --page-bg-color: #ff8dcb;
  --page-bg-image: url(../images/cover-image-light.png);
  --heading-color: #ffc2e6;
  --header__theme-menu-button-color: #353430;
  --header__theme-menu-button-outline: #353430;
  --header__theme-menu-button-outline_hover: #32312d66;
  --text-section__title-color: #353430;
  --article__text-color: #353430;
}

@media (prefers-color-scheme: light) {

  .page {
    --accent-color: #ff8dcb;
    --title-decor-background: #ff8dcb;
    --title-decor-color: #353430;
    --decorated-zone-color: #353430;
    --decorated-record-color: transparent;
    --decorated-record-bg: transparent;
    --decorated-record-shadow: transparent;
    --page-bg-color: #ff8dcb;
    --page-bg-image: url(../images/cover-image-light.png);
    --heading-color: #ffc2e6;
    --header__theme-menu-button-color: #353430;
    --header__theme-menu-button-outline: #353430;
    --header__theme-menu-button-outline_hover: #32312d66;
    --text-section__title-color: #353430;
    --article__text-color: #353430;
  }

}
